<div class="container">
  <header>
    <h1>Add Target</h1>
  </header>
  <main>
    <div class="inputs">
      <input type="text" name="name" ng-model="newTarget.name" placeholder="Name" value="">
      <input type="text" name="pseudonym" ng-model="newTarget.pseudonym" placeholder="Snake" value="">
    </div>
    <div class="inputs">
      <a href="#/addTarget" ng-click="addTarget(newTarget)"><img  src="http://www.clipartbest.com/cliparts/dc8/LXG/dc8LXGkce.gif"  alt="Add a Target" />Add Target</a>
      <a href="#/"><img  src="sword.svg"  alt="Return to List" />Return to List</a>
    </div>
  </main>
  <footer>

  </footer>
</div>
